@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background-color: #051899;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}

nav li {
  padding: .5rem;
  width: 50%;
  text-align: center;
  border: solid 1px #7dafff;
  background-color: #3876e0;
}

nav a {
  padding: .5rem;
  font-size: 1.25em;
  color: #fff;
}

h1 {
  width: 75%;
  display: inline-block;
  padding: .5em 1.25em .5em .5em;
  margin: 0;
  color: #7dafff;
  font-family: "Fugaz One", cursive;
}

.shop {
  width: 15%;
}

.shop img {
  display: inline-block;
}

nav li:hover {
  background-color: #7dafff;
  color: #fff;
}

nav a:hover {
  background-color: #7dafff;
  color: #fff;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  overflow: auto;
  position: relative;
}

.text-banner {
  position: absolute;
  top: 1em;
  padding: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, .3);
  color: #fff;
}

main h2 {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  background-color: #3876e0;
  color: #fff;
  padding: .75rem;
  width: 100%;
  margin-bottom: 1.5em;
}

.card-title h3 {
  margin-top: 0;
  margin-bottom: .5rem;
  text-align: center;
}

.card-des {
  margin-bottom: .5rem;
}

.btn-small {
  padding: .75em;
  background-color: #051899;
  color: #fff;
  font-size: .875rem;
  border-radius: 8px;
}

.btn {
  margin-bottom: .5rem;
}

.btn-small:hover {
  background-color: #7dafff;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #051899;
}

footer h4 {
  color: #7dafff;
  font-family: "Fugaz One", cursive;
  margin-bottom: 0;
}

.foot-nav {
  display: flex;
}

.foot-nav li {
  padding: .5em;
}

.foot-nav a {
  color: #7dafff;
}

.foot-nav a:hover {
  color: #fff;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.social-btn {
  padding: .5rem;
  width: 15%;
}
